<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.cutano.swiftmessengerservice.mapper.ChatMapper">

    <select id="userInfo" parameterType="java.lang.Integer" resultType="hashmap">
        SELECT *
        FROM User
        WHERE userID = #{userID}
    </select>

    <insert id="userRegister">
        INSERT INTO User (userName, password, avatar)
        VALUES (#{username}, #{password}, #{userAvatar})
    </insert>
</mapper>